<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Libro</title>
</head>
<body>
    <h1>Registrar Nuevo Libro</h1>
    
    <form th:action="@{/libros/nuevo}" th:object="${libro}" method="post">
        
        <label>Título:</label>
        <input type="text" th:field="*{titulo}" required />
        <br/>

        <label>Autor:</label>
        <input type="text" th:field="*{autor}" />
        <br/>

        <label>Páginas:</label>
        <input type="number" th:field="*{paginas}" />
        <br/>

        <button type="submit">Guardar Libro</button>
    </form>
    
    <br/>
    <a th:href="@{/libros}">Volver al listado</a>
</body>
</html>