<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <h1>REGISTRO</h1>
    <form th:action="@{/registro}" method="post" th:object="${u}">
        <label>Usuario</label>
        <input type="text" th:field="*{usuario}">

        <label>Contraseña</label>
        <input type="password" th:field="*{contraseña}">

        <button type="submit">Iniciar Sesión</button>
    </form>
</body>
</html>